.main{
    position: absolute;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0px;
    right: 0px;
    top: 0px;
}
  .component {
    background: rgba(23, 23, 23, 0.5);
    width: 40%;
    height: 70%;
    max-width: 600px;
    margin: 1em auto;
    padding-bottom: 2em;
    border: 0.1px solid black;
    border-radius: 10px;
    margin-top: 100px;
  }
  
  .musicCover {
    border-radius: 10%;
    position:relative;
    left:173px;
    top:15px;
  }
  
  .playButton {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
  }
  .title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color:white;
    position: relative;
    left:173px;
    top:-15px;
  }
  
  .subTitle {
    margin-top: -1em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #A7A7A7;
    position: relative;
    text-decoration: none;
    left:173px;
    top:-15px;
  }
  .subTitle:hover{
    cursor: pointer;
  }
  
  .time {
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: smaller;
  }
  .time p {
    font-size:16px;
  }
  
 
  @media (max-width: 900px) {
    .component {
      width: 50%;
    }
  }
  .slider {
    -webkit-appearance: none;
    width: 98%;
    height: 8px;
    background: #000;
    outline: none;
    border: 2px solid #9147FF;
    border-radius: 8px;
  }
  
  
  /* for chrome/safari */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 30px;
    background: #000;
    cursor: pointer;
    border: 2px solid #9147FF;
    border-radius: 4px;
  }
  
  /* for firefox */
  .slider::-moz-range-thumb {
    width: 20px;
    height: 60px;
    background: #000;
    cursor: pointer;
    border: 2px solid #9147FF;
    border-radius: 4px;
  }
  .buttons{
    position: relative;
    left:175px;
    top:10px;
  }