@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.header{
    position: fixed;
    z-index: 100;
    height: 64px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: rgba(23, 23, 23, 0.5);;
}
.logo{
    box-sizing: border-box;
    position: absolute;
    left: -65px;
    top: 0%;
    bottom: 0%;
    width:32px;
    height: 32px;
}
.name{

    position: absolute;
    left: -25px;
    right: 0%;
    top: -0%;
    bottom: 0%;
    font-size:24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}
.center{
    position: absolute;
    left: 210px;
    right: 210px;
    top: 0px;
    bottom: 0px;
}
.icon{
    position: absolute;
    width: 86px;
    height: 32px;
    left: 0px;
    top: calc(50% - 32px/2);
    }
.search{
    position: absolute;
    width: 496px;
    height: 32px;
    left: calc(50% - 496px/2 - 1px);
    top: calc(50% - 32px/2 + 1px);
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    /* Черный 3 */

    background: #262626;
    /* Серый */

    border: 2px solid #444444;
    border-radius: 8px;
}
.search:hover{
    border: 2px solid #9147FF;
}   
.search img{
position: absolute;
width: 16.59px;
height: 16.17px;
left: 10px;
top: calc(50% - 16.17px/2 + 0.09px);
}
.search p{
    position: absolute;
left: 33px;
right: 20px;
top: 0px;
bottom: 0px;

/* Small

12
*/
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;

/* Белый(50%) */

color: rgba(255, 255, 255, 0.5);

}
.registration a{
    position: absolute;
    width: 145px;
    height: 32px;
    right: 0px;
    text-align: center;
    top: calc(50% - 42px/2);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    background: #9147FF;
    border-radius: 8px;
    color: #FFFFFF;
    padding-top: 10px;
}
.registration a:hover{
    background: #7A16DE;
    border-radius: 8px;
}
.authorization a{
    position: absolute;
    width: 46px;
    height: 32px;
    right: 161px;
    top: calc(50% - 32px/2);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    background: #171717;
    border:none;
    text-decoration: none;
}

.authorization a:hover{
    color: rgba(255, 255, 255);
    background: #171717;
    border:none;
}
